body
{
  background-image: url(dark-wood.jpg);
  margin:10% auto;
  border-radius:0%;
  background-color:#ffff;
}
.headdiv
{
  margin-right: 150px;
}
.headimg
{
  width:100%;
  margin-top:12px;
  margin-left:80px;
  margin-right:80px;

}
.links a
{
  text-align: center;
  color: white;
  text-decoration:none;
  font-weight: bold;
}
